@import './helper.scss';
@import '~antd/dist/antd.css';
// html, body {
//   background-color: $bg;
// }
.root {
  h1, h2, h3, h4, h5, h6 {
    color: $text;
    margin: 0;
    padding: 0;
  }
  a{
    color: inherit;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  color: $text;
  text-decoration: none;
}

img{
  max-width: 100%;
  max-height: 100%;
}

.page-content{
  width: $pcWidth;
  margin: 0 auto;
}
// a:visited{
//   color: $hint;
// }

// react-smart-tabs
.root {
  .bar__wrapper, .tab__bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $theme;
    color: $ltext;
  }
  .bar__wrapper .addButton{
    display: none;
  }
  .tab__bar{
    li{
      color: $ltext;
      transition: all .2s ease;
      width: 200px;
    }
    li.active{
      width: 200px;
    }
    li.active, li:hover{
      background: $ltext;
      color: $theme;
    }
  }
}

// 栅格化
.row {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.row .col {
  flex: 1;
}

.row .col-25 {
  flex: 0 0 25%;
}

.row .col-33 {
  flex: 0 0 33.3333%;
}

.row .col-50 {
  flex: 0 0 50%;
}
