@import './helper.scss';
@import '~antd/dist/antd.css';
// html, body {
//   background-color: $bg;
// }
html, body {
  font-size: 16px;
}
.root {
  h1, h2, h3, h4, h5, h6 {
    color: $text;
    margin: 0;
    padding: 0;
  }
  a{
    color: inherit;
  }
  a:hover {
    color: $ltheme;
  }
  h2{
    font-size: $XLFS;
    padding: 40px 20px 20px;
    text-align: center;
    line-height: 1.5em;
    font-weight: bold;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  color: $text;
  text-decoration: none;
}

img{
  max-width: 100%;
  max-height: 100%;
}

.page-content{
  max-width: $pcWidth;
  position: relative;
  margin: 0 auto;
}
// a:visited{
//   color: $hint;
// }

// react-smart-tabs
.root {
  .bar__wrapper, .tab__bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $theme;
    color: $ltext;
  }
  .bar__wrapper .addButton{
    display: none;
  }
  .tab__bar{
    li{
      color: $ltext;
      transition: all .2s ease;
      width: 200px;
    }
    li.active{
      width: 200px;
    }
    li.active, li:hover{
      background: $ltext;
      color: $theme;
    }
  }
  .table-link, .table-link:hover{
    color: $theme;
    text-decoration: underline;
  }
}

// 栅格化
.row {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.row .col {
  flex: 1;
}

.col-10 {
  flex: 0 0 25%;
}

.col-20 {
  flex: 0 0 25%;
}

.col-25 {
  flex: 0 0 25%;
}

.col-33 {
  flex: 0 0 33.3333%;
}

.col-50 {
  flex: 0 0 50%;
}

.col-100 {
  flex: 0 0 100%;
}

.pc-hide{
  display: none;
}

.mobile-hide{
  display: block;
}

.pr{
  position: relative;
}

@media (max-width: 1024px) {
  html, body, .root {
    font-size: 14px;
  }
  .col-sm-10 {
    flex: 0 0 25%;
  }
  
  .col-sm-20 {
    flex: 0 0 25%;
  }
  
  .col-sm-25 {
    flex: 0 0 25%;
  }
  
  .col-sm-33 {
    flex: 0 0 33.3333%;
  }
  
  .col-sm-50 {
    flex: 0 0 50%;
  }
  
  .col-sm-100 {
    flex: 0 0 100%;
  }

  .pc-hide{
    display: block;
  }

  .mobile-hide{
    display: none;
  }
}