@import '../../helper.scss';

$headerHeight: 50px;

.article-page{
    color: $text;
    font-size: 16px;
    padding-top: 60px;
    height: 100%;
    .page-content{
        padding: 0 20px;
    }
    .article-title{
        font-size: 1.5em;
        margin: 20px;
    }
    .container{
        position: fixed;
        top: 60px;
        background: #fff;
        z-index: 1;
        display: flex;
        align-items: center;
        width: $pcWidth;
        margin: 0 auto 20px;
        height: $headerHeight;
        box-sizing: border-box;
        border-bottom: 1px solid #f1f1f1;
        .nav-item{
            display: block;
            height: $headerHeight;
            line-height: $headerHeight;
            padding: 0 10px;
            margin: 0 10px;
            &.active{
                color: $ltheme;
                // border-bottom: 4px solid $ltheme;
            }
        }
    }
}