@import '../../helper.scss';

.home-page {
  color: $text;

  .article-wrapper{
    width: 700px;
    margin: 0 auto;
    border-left: 1px solid #f2f5fa;
    border-right: 1px solid #f2f5fa;
  }

  .article-border{
    border-bottom: 1px solid #f2f5fa;
  }
  .article-border:last-child{
    border-bottom: none;
  }

  .article-list {
    min-height: 500px;
  }

  .edition-item{
    padding: 20px 20px 0;
    cursor: pointer;
    &.active{
      color: $theme;
    }
  }

  .edition-item:hover{
    color: $theme;
  }

  .side-bar{
    position: fixed;
    left: 50%;
    top: 60px;
    width: 233px;
    margin-left: -583px;
    h3{
      padding: 20px;
      padding-bottom: 0;
      font-size: $LFS;
    }
    .search-box{
      margin: 20px 20px 0;
      line-height: 30px;
      position: relative;
      box-sizing: border-box;
      width: 100%;
      .search-input {
        border: none;
        outline: none;
        font-size: 13px;
        color: #333;
        width: 100%;
        margin: 0;
        padding: 0 10px;
        background: #f3f4f7;
        border: 1px solid #e2e5e8;
      }
      .search-img{
        position: absolute;
        right: 6px;
        top: 8px;
        width: 24px;
        cursor: pointer;
        margin-top: -4px;
        padding: 0;
        z-index: 1;
      }
    }
  }
}

@media (max-width: 1170px) {
  .side-bar{
    display: none;
  }
}

@media (max-width: 1024px) {
  .home-page {
    padding-bottom: 40px;
    h2 {
      border-bottom: 1px solid #EEE;
      padding: 20px 20px 10px;
      text-align: left;
    }
    .article-wrapper{
      width: 100%;
    }
    .article-wrapper, .article-border{
      min-height: unset;
      border: none;
    }
  }
}